<!-- repetir so por teste -->

<section class="ambiente">
    <article class="area_post">

        <div class="representacao_img">
            <h5 class="titulo_post">Nome Pet, 7 meses</h5>
        </div>


    </article>


    <article class="area_post">

        <div class="representacao_img">
            <h5 class="titulo_post">Nome Pet, 7 meses</h5>
        </div>


    </article>

    <article class="area_post">

        <div class="representacao_img">
            <h5 class="titulo_post">Nome Pet, 7 meses</h5>
        </div>


    </article>

    <article class="area_post">

        <div class="representacao_img">
            <h5 class="titulo_post">Nome Pet, 7 meses</h5>
        </div>


    </article>

    <article class="area_post">

        <div class="representacao_img">
            <h5 class="titulo_post">Nome Pet, 7 meses</h5>
        </div>


    </article>

    <article class="area_post">

        <div class="representacao_img">
            <h5 class="titulo_post">Nome Pet, 7 meses</h5>
        </div>


    </article>

</section>