<div class="posts-grid">
  @if (pets && pets.length > 0) {
    @for (pet of pets; track pet.id) {
      <div class="pet-mini-card">
        <img [src]="pet.imagem || 'assets/placeholder-pet.png'" alt="{{ pet.nome }}">

        @if (petsRegistered < 1) {
          <div>Você ainda não cadastrou nenhum pet.</div> 

        }
        @else{
          <div class="pet-info">
            <span>{{ pet.nome }}</span>
          </div>
        }
        <div class="pet-info">
          <span>{{ pet.nome }}</span>
        </div>
      </div>
    }
  } @else {
    <div class="no-pets">
      <p>Nenhum pet cadastrado ainda.</p>
    </div>
  }
</div>