<main>
  <section>
    <img src="assets/perfil.png" alt="icone de perfil" />

    <p class="nome">{{ nome }}</p>

    <p class="pet_cadastrados">Total de pets cadastrados: {{ petsCadastrados }}</p>

    <p class="bio">{{ bio }}</p>
  </section>

  <h4>Posts de {{ nome }}</h4>
  <!-- futuramente o dado deve vir do usuario direto do banco -->

  <article class="posts">
    <app-post-components
      *ngFor="let pet of listaPets; let i = index"
      [nomePet]="pet.nome"
      [idadePet]="pet.idade"
      [attr.data-index]="i"
    >
    </app-post-components>

    <app-post-components></app-post-components>



    <app-post-components [nomePet]="listaPets[0].nome" [idadePet]="listaPets[0].idade"></app-post-components>
  </article>
</main>
