html {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 5rem;

}

h4 {
    font-size: 2rem;

}

section {
    background-color: #a4a4a4;
    height: 40rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 20px;

    padding: 20rem;
}

img {
    height: 10rem;


    border-radius: 5rem;

}

.nome {

    font-style: oblique;
    font-size: 3rem;

    width: 30rem;

}

p {
    text-align: center;
}

.pet_cadastrados {
    font-size: 16px;
    width: 30rem;

}

.bio {
    text-align: justify;

    width: 30rem;
    height: 20rem;
}