<div class="container">
    <section>
        <h2>Login</h2>

        <div class="campo">
            <p class="text">Email</p>
            <input id="email" type="email" placeholder="Digite seu email aqui...">
        </div>
        <div class="campo">
            <p class="text">Senha</p>
            <input id="senha" type="password" placeholder="Digite sua senha aqui...">
        </div>
        <button class="destaque" onclick="alert('Logado com sucesso')">Entrar</button>
    </section>
</div>