footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
    background-color: #7A3D17;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    margin: 0;
    font-size: 1.4rem;
    color: #f5f5f5;
    padding: 2rem;
}
