* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body, app-root {
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}