footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
    background-color: #a4a4a4;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

footer p {
    margin: 0;
    font-size: 1.4rem;
    color: #333;
}